@model Casgem_Portfolio.Models.Entities.TblAdmins

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Admin Giriş</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/Templates/starter/css/style.css" type="text/css" media="all" />

    <!-- fontawesome v5 -->
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

</head>

<body>

    <section class="forms">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a class="brand-logo" href="index.html">Admin Giriş Sayfası</a>
            </div>
            <!-- //logo -->
            <div class="forms-grid">
                <!-- login -->
                <div class="login">
                    <span class="fas fa-sign-in-alt"></span>
                    <strong>Tarık Aydın</strong>                 

                    <form method="post" class="login-form">
                        <fieldset>
                            <div class="form">
                                <div class="form-row">
                                    <span class="fas fa-user"></span>
                                    <label class="form-label" for="input">UserName</label>
                                    <input type="text" class="form-text" name="UserName">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-eye"></span>
                                    <label class="form-label" for="input">Password</label>
                                    <input type="password" class="form-text" name="Password">
                                </div>                                
                                <div class="form-row button-login">
                                    <button class="btn btn-login" type="submit">
                                        Giriş Yap <span class="fas fa-arrow-right"></span>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- //login -->             
            </div>            
        </div>
    </section>
</body>
</html>