@model IEnumerable<Casgem_Portfolio.Models.Entities.TblReference>


<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="position-relative">
                        <img src="~/Images/web-development_2888407.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5">
                    <h5 class="title-small mb-2">Ben Kimim</h5>
                    <h3 class="title-big">Merhaba ben Tarık Aydın FullStack .Net Developer</h3>
                    <p class="mt-4">
                        Merhaba, Kırıkkale Üniversitesi İnşaat Mühendisliği bölümünden mezun olduktan sonra BilgeAdam Boost programına kabul edildim. Bu süreçte yazılım alanında önemli deneyimler edindim ve kendimi geliştirdim. Şu anda yazılım alanında kariyer yapmak için çalışıyorum. Yaratıcı düşünme becerilerine sahip, hızla değişen trendleri takip edebilen ve analitik yaklaşımı olan biriyim. Yeni fırsatlar arayışındayım ve hedeflerimi gerçekleştirmek için azimle ilerliyorum.
                    </p>                 
                </div>
            </div>
        </div>
    </div>
</section>
